{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<a href="/Article/create"  class="btn btn-danger">Créer un nouvel article</a>

<a href="/Article/lire" class="btn btn-primary">liste des articles</a>
<a href="/categorie/createCategorie"  class="btn btn-warning">Ajouter une categorie</a>
<a href="/marque/createMarque"  class="btn btn-secondary">Ajouter une marque</a>
    

{% endblock %}
