{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Site e-commerce</h1>
                <p>
                    Bienvenue sur notre site
                </p>
            </div>
            {% for type in types %}
                <div class="col-12">
                    {{ type.nom }}
                </div>
            {% endfor %}

            <div class="col-12">
                {{ dump() }}
            </div>
        </section>
    </main>
{% endblock %}

