/* body{
    background-color: #ddd;
} */


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


.images{
    display: flex;
    animation-duration: 10s;
    animation-name: mesImages;
    animation-iteration-count: infinite;
 }

 #carousel {
    width: 100%;
    overflow: auto;
    border:2px solid black ;
 }

@keyframes mesImages {
    0% {
        transform: translateX(0);

    }
    25%{
        transform: translateX(-640px);
    }

    50%{
        transform: translateX(-1280px);
    }

    75%{
        transform: translateX(-1920px);
    }

    100%{
        transform: translateX(0);
    }
    
}


.navbar-custom {
    background-color: green; /* Couleur de fond personnalisée */
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: blue;
}

.navbar .nav-link.active {
    color: Blue;
    /* Texte en jaune pour le lien actif */
}


