{% extends 'base.html.twig' %}

{% block title %}Hello DetailsCommandesController!{% endblock %}

{% block body %}

<center><h1>votre commandes a ete effectuer avec success</h1></center>
{% endblock %}
