{% block content %}
    <h1>Créer une nouvelle Marque</h1>

    {{ form_start(form) }}
    {{ form_row(form.nom) }}
  
    

    <input type="submit" value="Enregistrer" class="btn btn-secondary">
    {{ form_end(form) }}
{%  endblock %}