<footer class="container-fluid bg-light">
    <div class="struc">
    <div class="row">
        <section class="col"><h2>A propos </h2><br>
        <p>Fonctionnement du site</p><br>
        <p>Conditions generales de vente</p><br>
        <p>Donnees Condidentielles</p>
        </section>
       
        
      
        <section class="col"><h2>Nos Articles</h2><br>
        <p>Charte qualiter</p><br>
        </section>
        <section class="col"><h2>Assistance</h2><br>
        
        <p>Centre D'aide</p><br>
        <p>Nous Contacter</p><br>
        </section>
    </div>
    </div>
</footer>